*.o
*.in
*.la
*.lo
*.libs/
Makefile
makefile
*.deps/
aclocal.m4
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libltdl/
libtool
ltmain.sh
missing
moc.spec
mocp
stamp-h1
.svn
!config.example.in
/nbproject/
/config.example
/m4/argz.m4
/m4/libtool.m4
/m4/ltdl.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
